name: Build

on:
  # this opts us in to be a reusable workflow.
  # https://docs.github.com/en/actions/sharing-automations/reusing-workflows#creating-a-reusable-workflow
  workflow_call:

jobs:
  build:
    # we mainly just need to be able to run Docker
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: docker/setup-qemu-action@v2
      with:
        platforms: riscv64,arm64,arm

    - uses: docker/setup-buildx-action@v2

    - name: Build
      run: |
        set -eu
        # better to not store in local workdir (would always make workdir unclean Git-wise)
        docker run --rm -v /usr/local/bin:/host --entrypoint= ghcr.io/function61/turbobob:latest sh -c 'cp $(which bob) /host/'
        bob build in-ci-autodetect-settings
      env:
        DOCKER_CREDS: ${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}
